<div class="col-md-10 col-10 mx-auto my-5 d-flex">

    <div class="col-md-6">
        <h1><b>Change your mental map</b></h1>

        <p>What is a mental map exactly ? When you think about a city and try to orient yourself, you use what's called a mental map, a map that presents your view of that city</p>
        <p>With the Serendipity Engine, we try to change your point of view of these cities by changing your mental map in a surprising, yet pleasant way.</p>

        <button class="mt-4" routerLink="/engine">Try it out!</button>
    </div>
    <img src="../../../assets/pictures/frontpage.svg" class="d-none d-sm-block img-fluid"/>

</div>
