
button {
    font-size: 1.2rem;
    font-family: "roboto";
    background-color: #8c00ff;
    border: #8c00ff 0.2rem solid;
    border-radius: 5px;
    padding:0.4rem 1.5rem;
    color: white;
    transition: all 0.5s ease-in-out;
}

button:hover {

    border: #8c00ff 0.2rem solid;
    background-color: white;
    color: #8c00ff;
}

h1{
  color : #161616;
  font-size: 3rem;
  font-family: "Playfair Display", "serif";
  font-weight: 600;
  margin-bottom:4%;
}

.img-introduction {
  width: 30rem;
  height: 30rem;
  margin-left: 2rem;
}
