<div id="main-container" class="row col-lg-10 mx-auto my-5 justify-content-between align-items-top">
    <h1 class="col-12 mt-5">About the Serendipity Engine</h1>
    <div class="col-lg-5">
        
        <p>
            When people try to orient themselves in a specific city, they use  - what’s 
            called - a mental map. This is a map representing your view of that city.
            With the serendipity engine, we try to surprise people with a new point of
            view on their city by changing this mental map.
        </p>
        <p>
            Do you think you would recognize your city when it is put upside down? Or
            do you really know every interesting spot? Give our serendipity engine a try
            and find out new ways of looking at a map! 
        </p>
        <p>
            Don’t forget to share your awesome design.<br/>
            The serendipity engine is a collaboration project between IDLab, imec and Open Summer of Code.
        </p>
    </div>
    <video width="100%" height="100%" class="col-lg-6 mt-none" autoplay poster="favicon.png" controls>
        <source src="../../../assets/video.mp4" type="video/mp4">
    </video>
    
</div>
