.card {
    border : 3px solid #63918a !important;
    background-color: #63918a  !important;
    border-radius: 15px;
    color:white;
    padding:0;
    margin: 0;
}

.active {
    background-color: red;
}

.card p {
    padding:5px;
}

.picture {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding:10%;
    width: 120px;
}

.selected {
    border: 1px solid #006d77;
    background-color: #006d77;
    color:white
}