footer {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #63918A;
    padding:2%;
    margin: 0;
    /* position: absolute;
    bottom: 0; */
}

footer img {
    margin-left:20px;
    height: 30px;
}

#imec {
    height:43px;
}

footer p {
    margin:0;
    padding:0;
}
