<footer>

<div class="col-10 d-flex justify-content-between">
    <div>
        <a target="_blank" href="https://www.imec.be/"><img src="assets/pictures/logo-imec.svg" alt="logo imec" class="img-fluid" id="imec"/></a>
        <a target="_blank" href="https://idlab.technology/"><img src="assets/pictures/logo-idlab.svg" alt="logo idlab" class="img-fluid" id="idlab"/></a>
    </div>

    <a target="_blank" href="https://summerofcode.be/"><img src="assets/pictures/osoc20-default.svg" alt="logo osoc" class="img-fluid" id="osoc"/></a>

</div>
</footer>
