<mat-horizontal-stepper id="main-container" class="d-flex align-items-start ml-5 flex-column" [linear]="isLinear" #stepper>

    <mat-step [stepControl]="firstFormGroup">
      
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Destination</ng-template>
        <form class="stepper-content" [formGroup]="destination">
              <h2 class="text-center"><b>Where</b> do you want to go to ?</h2>
              <div class="search">
                <input 
                       formControlName="destinationControl"
                       type="text"
                       id="title"
                       class="form-control"
                       placeholder="I think Brussels is a good choice..."
                       [matAutocomplete]="auto"
                       (input)="search($event)">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let city of cities" [value]="city" (onSelectionChange)="onSelectDestination(city)">
                  {{city}}
                </mat-option>
              </mat-autocomplete>
            <button type="submit" matStepperNext><i class="fa fa-search"></i>Search</button>
            </div>
        </form>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>City of living</ng-template>
        <form class="stepper-content" [formGroup]="origin">
              <h2 class="text-center">Where do you come from ?</h2>
              <div class="search">
                <input
                       formControlName="originControl"
                       type="text"
                       id="title"
                       class="form-control"
                       placeholder="I think Ghent is a good choice..."
                       [matAutocomplete]="auto"
                       (input)="search($event)">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let city of cities" [value]="city" (onSelectionChange)="onSelectOrigin(city)">
                  {{city}}
                </mat-option>
              </mat-autocomplete>
            <button type="submit" matStepperNext><i class="fa fa-search"></i>Search</button>
            </div>
        </form>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFromGroup">
        <ng-template matStepLabel>Transport</ng-template>
        <div class="stepper-content col-10 m-auto">
          <h2 class="text-center" *ngIf="!selectedCityDestination; else elseBlock">How do you transport to your destination ?</h2>
          <ng-template #elseBlock>
            <h2 class="text-center">How do you transport to {{selectedCityDestination.text}} ?</h2>
          </ng-template>
          
          <div class="row d-flex justify-content-between">
            <div *ngFor="let transport of transports" [ngClass]="{'active': selectedTransport == transport.id, 'card' : true}" (click)="changeSelectedTransport(transport.id)">
              <img class="img-fluid picture m-auto" src="assets/pictures/{{transport.picture}}.svg"/>
              <p class="m-auto text-center">{{transport.label}}</p>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

</mat-horizontal-stepper>

<!--
<h3 *ngIf="!selectedCityOrigin || !selectedCityDestination; else elseBlockTest">TEST</h3>
<ng-template #elseBlockTest>
  <h3>{{mapboxService.calculate_bearing(selectedCityOrigin.center, selectedCityDestination.center)}}</h3>
</ng-template>
-->

<app-map *ngIf="selectedCityOrigin && selectedCityDestination" [coord]="selectedCityDestination.center" [bearing]="mapboxService.calculate_bearing(selectedCityOrigin.center, selectedCityDestination.center)"></app-map>

