

/*
 :host ::ng-deep .mat-horizontal-content-container {
    width: 100% !important;
}
*/

.card {
    border : 3px solid grey;
    background-color: grey;
    border-radius: 15px;
    color:white;
    padding:0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.cityName {
    color : #8c00ff;
}

.active {
    border : 3px solid #8c00ff !important;
    background-color: #8c00ff !important;
}


.picture {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding:10%;
    width: 100px;
    transition: all 0.5s ease-in-out;
}

.card:hover{
  border: 3px solid #8c00ff;
}

.selected {
    border: 1px solid #006d77;
    background-color: #006d77;
    color:white
}



#main-container {
    width: 100%;
}


input:focus {
  border-color: #8c00ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline:none;
}


input:hover {
    border: 0.2rem #8c00ff solid;
}

h2 {
    color : #161616;
    font-size: 3rem;
    font-family: "Playfair Display", "serif";
    font-weight: 600;
    margin-bottom:4%;
}

.text-bold {
  font-weight: 900;
}

input {
  border: 0.2rem #b4b6b9 solid;
  border-radius: 0.5rem;
  transition: border 0.5s ease-in-out;
}



button {
    font-size: 1.2rem;
    font-family: "roboto";
    background-color: #8c00ff;
    border: #8c00ff 0.2rem solid;
    border-radius: 5px;
    padding:0.4rem 1.5rem;
    color: white;
    transition: all 0.5s ease-in-out;
}

button:hover {

    border: #8c00ff 0.2rem solid;
    background-color: white;
    color: #8c00ff;
}

.fa {
    margin-left:20px;
    transition: all 0.3s ease-in-out;
}

.buttonfa:hover .fa{
  margin-left: 30px;
}

.mat-stepper-horizontal {
    background-color: transparent;
}

::ng-deep .mat-step-icon-selected {
    background-color: #8c00ff !important;
    color:white;
 }

 ::ng-deep .mat-step-header {
     color:white;
 }

