
input {
    border: 2px solid #006d77;
    border-radius : 10px;
    padding:20px;
}

input:hover {
    border : 2px solid blue;
}

h2 {
    color : black;
    margin:3% 0% 3% 0%;
}

button[type="submit"] {
    background-color: #006d77;
    border : none;
    border-radius: 10px;
    padding:5px 10px 5px 10px;
    transition-duration: 3s;
    color:white;
    position: absolute;
    top:5px;
    right: 5px;
}

.search {
    position: relative;
    width:70%;
    margin:0% 15% 0% 15%;
}

.fa-search {
    margin-right:10px;
    color:white;
}

.mat-stepper-horizontal {
    background-color: transparent;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-icon {
    background-color: white;
    color:black;
 }

 :host ::ng-deep .mat-horizontal-content-container {
    width: 100% !important;
}

.card {
    border : 3px solid #63918a;
    background-color: #63918a;
    border-radius: 15px;
    color:white;
    padding:0;
    margin: 0;
}

.active {
    border : 3px solid #006d77 !important;
    background-color: #006d77 !important;
}

.card p {
    padding:5px;
}

.picture {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    padding:10%;
    width: 120px;
}

.selected {
    border: 1px solid #006d77;
    background-color: #006d77;
    color:white
}

