<mat-horizontal-stepper id="main-container" class="d-flex align-items-center flex-column" [linear]="true" #stepper>

  <mat-step [completed]="store.selectedDestinationCity" [stepControl]="fakeControl" class="h-100 d-flex justify-content-center align-items-center">
      <ng-template matStepLabel>Destination</ng-template>

      <h2 class="text-center"><b>Where</b> do you want to go <b>to</b> ?</h2>
      <div class="search d-flex flex-column align-items-center">
        <input
                type="text"
                placeholder="I think Brussels is a good choice..."
                [matAutocomplete]="auto"
                class="col-12 col-sm-6 p-3"
                (input)="search($event)">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let city of cityList" [value]="city.text" (click)="onSelect(city, false)">
            {{getDisplayName(city)}}
          </mat-option>
        </mat-autocomplete>
        <button *ngIf="store.selectedDestinationCity" matStepperNext class="d-block mt-5 buttonfa">Next<i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
  </mat-step>

  <mat-step [completed]="store.selectedOriginCity" [stepControl]="fakeControl">
      <ng-template matStepLabel>City of living</ng-template>
      <h2 class="text-center"><b>Where</b> do you come <b>from</b> ?</h2>
      <div class="search d-flex flex-column align-items-center">
            <input
                  type="text"
                  class="col-12 col-sm-6 p-3"
                  placeholder="I think Brussels is a good choice..."
                  [matAutocomplete]="auto2"
                  (input)="search($event)">
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let city of cityList" [value]="city.text" (click)="onSelect(city, true)">
                {{getDisplayName(city)}}
              </mat-option>
            </mat-autocomplete>
          <button *ngIf="store.selectedOriginCity" matStepperNext class="d-block mt-5 buttonfa">Next<i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
  </mat-step>


  <mat-step [completed]="store.selectedTransport" [stepControl]="fakeControl">
    <ng-template matStepLabel>Transport</ng-template>
    <div class="stepper-content col-12 m-auto">
      <h2 class="text-center" *ngIf="!store.selectedDestinationCity; else elseBlockTransport"><b>How</b> do you transport to your selected city ?</h2>
      <ng-template #elseBlockTransport>
        <h2 class="text-center"><b>How</b> do you transport to <span class="cityName">{{store.selectedDestinationCity.text}}</span> ?</h2>
      </ng-template>

      <div class="row d-flex justify-content-between">
        <div *ngFor="let transport of transports" [ngClass]="{'active': store.selectedTransport == transport.id, 'card' : true}" (click)="changeSelectedTransport(transport.id)">
          <img class="img-fluid picture m-auto" src="assets/pictures/{{transport.picture}}.svg"/>
          <p class="m-auto text-center">{{transport.label}}</p>
        </div>
      </div>
      <button matStepperNext class="d-block mt-5 buttonfa mx-auto" *ngIf="store.selectedTransport">Next<i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </div>
  </mat-step>

  <mat-step [completed]="store.selectedFrequency.value" [stepControl]="fakeControl" class="m-auto">
    <ng-template matStepLabel>Frequency</ng-template>
    <div class="d-flex justify-content-center flex-column">
      <h2 class="text-center" *ngIf="!store.selectedDestinationCity; else elseBlockFrequency"><b>How often</b> do you go to the selected city ?</h2>
      <ng-template #elseBlockFrequency>
        <h2 class="text-center"><b>How often</b> do you go to <span class="cityName">{{store.selectedDestinationCity.text}}</span> ?</h2>
      </ng-template>

      <mat-form-field class="m-auto">
        <mat-select placeholder="Select a frequency" class="m-auto" [formControl]="store.selectedFrequency">
          <mat-option class="align-items-center" *ngFor="let frequency of frequencies" [value]="frequency.id">{{frequency.label}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!--<button class="mx-auto mt-5" matStepperNext *ngIf="store.selectedFrequency.value">Next</button>-->
      <button  *ngIf="store.selectedFrequency.value"  class="d-block mt-5 buttonfa mx-auto" routerLink="/map" (click)="display()" clickclass="btn btn-secondary">Generate my map<i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
  </mat-step>
<!--
  <mat-step [stepControl]="fakeControl">
      <ng-template matStepLabel>Generate</ng-template>
      <div class="d-flex align-items-center justify-content-center">
        <button routerLink="/map" (click)="display()" clickclass="btn btn-secondary" class="buttonfa">Generate my map<i class="fa fa-angle-right" aria-hidden="true"></i></button>
      </div>
  </mat-step>
-->
</mat-horizontal-stepper>

<!--
<h3 *ngIf="!selectedCityOrigin || !selectedCityDestination; else elseBlockTest">TEST</h3>
<ng-template #elseBlockTest>
<h3>{{mapboxService.calculate_bearing(selectedCityOrigin.center, selectedCityDestination.center)}}</h3>
</ng-template>


<app-map *ngIf="selectedOriginCity && selectedDestinationCity" [coord]="selectedDestinationCity.center" [bearing]="mapboxService.calculate_bearing(selectedOriginCity.center, selectedDestinationCity.center)"></app-map>
-->
