nav {
    background-color: transparent ;
}
nav a {
    margin-top:3%;
    color : #63918A;
}

nav a:hover {
    color : white;
}

.navbar-nav {
    margin-right: 5%;
}

.navbar-brand {
    margin-left: 5%;
}
svg {
    color:white;
    width:25px;
    height:25px;
}