nav {
    background-color: transparent;
    padding: 1%;
}
nav a {
    color : grey;
}


a.navbar-brand {
    color:white;
}
nav a:hover {
    color : #8c00ff;
    cursor: pointer;
}

.navbar-nav {
    margin-right: 5%;
}

.navbar-brand {
    margin-left: 5%;
}
svg {
    color:white;
    width:25px;
    height:25px;
}