<header>
<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 73.168 73.168" fill="black" xml:space="preserve"><path d="M4.242,14.425h64.684c2.344,0,4.242-1.933,4.242-4.324c0-2.385-1.898-4.325-4.242-4.325H4.242 C1.898,5.776,0,7.716,0,10.101C0,12.493,1.898,14.425,4.242,14.425z M68.926,32.259H4.242C1.898,32.259,0,34.2,0,36.584 c0,2.393,1.898,4.325,4.242,4.325h64.684c2.344,0,4.242-1.933,4.242-4.325C73.168,34.2,71.27,32.259,68.926,32.259z M68.926,58.742H4.242C1.898,58.742,0,60.683,0,63.067c0,2.393,1.898,4.325,4.242,4.325h64.684c2.344,0,4.242-1.935,4.242-4.325 C73.168,60.683,71.27,58.742,68.926,58.742z"></path></svg>
    </button>

    <div class="navbar-collapse collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Serendipity Engine</a>
        </li>
        <li class="nav-item">
            <a routerLink="/collections" class="nav-link">Collections</a>
        </li>
        <li class="nav-item">
            <a routerLink="/about" class="nav-link">About</a>
        </li>
      </ul>
</div>
</nav>
</header>

